.rbc-time-view,
.rbc-month-view {
  border: none;
}

.rbc-time-header {
  border-bottom: none;
}

.rbc-event-label {
  display: none;
} /* hides the time range */

.rbc-allday-cell[role='rowgroup'] {
  display: none;
} /* hides the allday rows */

.rbc-button-link[type='button'] {
  width: 100%;
  text-align: start;

  font-size: 14px;
  font-weight: 600;
  color: #a1a1aa;

  padding: 4px;
}

.rbc-time-content {
  border-top: none;
}

.rbc-label {
  font-size: 12px;
  font-weight: 500;
  color: #71717a;
}

.rbc-timeslot-group {
  min-height: 90px;
}

.rbc-month-row {
  min-height: 120px;
}

.rbc-row-segment {
  text-align: end;
}

.rbc-event.available {
  background-color: var(--color-blue-600);

  border: none;

  opacity: 0.6;
}

.rbc-event.booked {
  background-color: var(--color-zinc-600);

  border: none;

  opacity: 0.6;
}

.available {
  background-color: var(--color-blue-600);
  opacity: 0.6;
}

.booked {
  background-color: var(--color-zinc-600);
  opacity: 0.6;
}

.canceled {
  background-color: var(--color-grey-600);
  opacity: 0.6;
}
